<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing page</title>

</head>


<body>
{% csrf_token %}

<div>
    <center><h2>Tutaj będzie landing page</h2></center>
    <center><p>Ta strona w przyszłości będzie pozwalała na swobodne oddawanie niepotrzebnych rzeczy osobom, znajdującym się w potrzebie</p></center>

        <a href="/login">Zaloguj się</a><br>
        <a href="/register">Zarejestruj się</a>
            {% block container %}
            {% endblock %}
</div>

</body>
</html>